---
title: Rasoirangat
timezone: Asia/Colombo
collections:
  posts:
    title: Posts
    output: true
  rasoirangat:
    title: Rasoirangat
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: posts
  values:
    layout: post
    permalink: "/posts/:title/"
- scope:
    path: ''
    type: pages
  values:
    layout: page
email: recipie@rasoirangat.in
From women to women: From women to women
baseurl: "/rasoirangat"
url: http://www.rasoirangat.in
copyright: "&copy; 2016-2017 Rasoirangat Theme"
markdown: kramdown
material_theme: blue-deep_orange
google-analytics-ua: 0
permalink: pretty
